a{
    color: #fff !important;
}
.anchor{
font-size: 30px;
}
.bg-dark {
    background-color: #000000e3!important;
}
.active{
    color: red !important;
}
li{
    margin: 0px 10px;
}
.navbar-light .navbar-toggler {
    color: rgb(249 249 249);
    border-color: rgb(255 255 255);
    background: #fff;
}
body,html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: #000;
  }
  ul { 
    margin: 0px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
 
  @media(max-width:660px){
      ul{
          display: flex;
          width: 100%;
      }
      li{
          padding: 2px 0px;
      }
  }
  @media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
@media(max-width:404px){
    .anchor{
        font-size: 25px;
        padding: 15px 3px
    }
}