<div class="parent">
    <div class="background">
    <div class="form-div">
        <form >
            <div>
                <h1 class="sign"> Sign Up</h1>
            </div>
            <div>
                <input type="text" name="name" placeholder="Full Name">
            </div>
             <div>
                <input type="text" name="email" placeholder="Email">
            </div>
            <div>
                <input type="number" name="mobile" placeholder="Mobile">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" >
            </div>
            <div>
                <input type="password" name="cpassword" placeholder="Confirm Password" >
            </div>
            <div>
                <button>Sign  In</button>
            </div>
            <div class="dont">
                <a routerLink="/login"><span>Already have account? Sign In</span></a>
            </div>
        </form>
    </div>
</div>
</div>