<div class="parent">
    <div class="background">
    <div class="form-div">
        <form >
            <div>
                <h1 class="sign"> Sign In</h1>
            </div>
            <div>
                <input type="text" name="email" placeholder="Email">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" >
            </div>
            <div>
                <button>Sign  In</button>
            </div>
            <div class="dont">
                <a routerLink="/signup"><span>Don't have account? Sign Up</span></a>
            </div>
        </form>
    </div>
</div>
</div>