<div>
    <div class="spinner" *ngIf="spinner">
        <mat-spinner color="warn"></mat-spinner>
    </div>
    <div >
        <div class="img-div">
          <img [style.opacity]="opacity?'1':'0.2'" src="{{video.imgsrc}}" alt="Error loading image" srcset="">
          <div>
           <a href="{{video.iframe}}" target="blank"> <button (mouseleave)="onMouseLeave()" (mouseenter)="onButtonHover()" class="play">Play</button></a>
          </div>
        </div>
        
        <div class="parent">
           <div>
            <h1>Movie :{{video.name}}</h1><hr>
           </div>
           <div>
               <h1>Actors:{{video.actor}}</h1><hr>
           </div>
           <div>
            <h1>Release Date:{{video.uploadDate}}</h1><hr>
        </div>
        <div>
            <h1>Category:{{video.category}}</h1>
        </div>
        </div>
    </div>
</div>